<div id="<%= dom_id evaluated %>">
  <p>
    <strong>Nome:</strong>
    <%= evaluated.name %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= evaluated.cpf %>
  </p>

  <p>
    <strong>E-mail:</strong>
    <%= evaluated.email %>
  </p>

  <p>
    <strong>Data de Nascimento:</strong>
    <%= evaluated.birthdate %>
  </p>

</div>
