<div id="<%= dom_id evaluated %>">
  <p>
    <strong>Name:</strong>
    <%= evaluated.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= evaluated.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= evaluated.email %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= evaluated.birthdate %>
  </p>

  <p>
    <strong>Psychologist:</strong>
    <%= evaluated.psychologist_id %>
  </p>

</div>
