<%= form_with(model: evaluated) do |form| %>

  <div>
    <%= form.label :name, "Nome", style: "display: block" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :cpf, "CPF", style: "display: block" %>
    <%= form.text_field :cpf, required: true %>
  </div>

  <div>
    <%= form.label :email, "E-mail", style: "display: block" %>
    <%= form.email_field :email, required: true %>
  </div>

  <div>
    <%= form.label :birthdate, "Data de nascimento", style: "display: block" %>
    <%= form.date_field :birthdate, required: true %>
  </div>

  <div>
    <%= form.submit "Salvar" %>
  </div>
  
<% end %>
