<h1>Questionário</h1>

<%= form_with(model: @applied_instrument.evaluated, url: evaluations_step_one_path(@applied_instrument.signed_id)) do |form| %>

  <div>
    <%= form.label :name, "Nome", style: "display: block" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :cpf, "CPF", style: "display: block" %>
    <%= form.text_field :cpf, required: true %>
  </div>

  <div>
    <%= form.label :email, "E-mail", style: "display: block" %>
    <%= form.email_field :email, required: true %>
  </div>

  <div>
    <%= form.label :birthdate, "Data de nascimento", style: "display: block" %>
    <%= form.date_field :birthdate, required: true %>
  </div>

  <div>
    <%= form.submit "Proximo →" %>
  </div>

<% end %>
