<h1>Avaliação</h1>

<%= form_with(model: @applied_instrument, url: evaluations_step_two_path(@applied_instrument.signed_id)) do |form| %>
  <% if @applied_instrument.instrument.question_1.present? %>
    <div>
      <p><strong> <%= @applied_instrument.instrument.question_1 %></strong><p>
       <%= form.collection_radio_buttons :answer_1, 1..4, :itself, :itself, {}, { required: true } %>
    </div>
  <% end %>

  <% if @applied_instrument.instrument.question_2.present? %>
    <div>
      <p><strong> <%= @applied_instrument.instrument.question_2 %></strong><p>
      <%= form.collection_radio_buttons :answer_2, 1..4, :itself, :itself, {}, { required: true } %>
    </div>
  <% end %>

  <% if @applied_instrument.instrument.question_3.present? %>
    <div>
      <p><strong> <%= @applied_instrument.instrument.question_3 %></strong><p>
      <%= form.collection_radio_buttons :answer_3, 1..4, :itself, :itself, {}, { required: true } %>
    </div>
  <% end %>

  <% if @applied_instrument.instrument.question_4.present? %>
    <div>
      <p><strong> <%= @applied_instrument.instrument.question_4 %></strong><p>
      <%= form.collection_radio_buttons :answer_4, 1..4, :itself, :itself, {}, { required: true } %>
    </div>
  <% end %>

  <% if @applied_instrument.instrument.question_5.present? %>
    <div>
      <p><strong> <%= @applied_instrument.instrument.question_5 %></strong><p>
      <%= form.collection_radio_buttons :answer_5, 1..4, :itself, :itself, {}, { required: true } %>
    </div>
  <% end %>

  <div>
    <%= form.submit "Finalizar" %>
  </div>
<% end %>